.InputTableDiv{
    display: grid;
    align-items: center;
    height: fit-content;
    max-height: 100%;
  }

.InputTable .MuiDataGrid-cell {
    text-align: center !important;
    align-items: center;
    color: var(--rp-text);
    font-family: 'Jebrains', sans-serif;
    font-size: 1.5rem;
}
 
.InputTable .MuiDataGrid-cell:hover, .GridColumnHeader:hover {
    color: var(--rp-text);
}


.InputTable {
    max-height: 44vh;
}

.GridColumnHeader{
    background-color: var(--rp-overlay);
    color: var(--rp-foam);
    font-family: 'Jebrains', sans-serif;
    font-size: 1.5rem;
}

.InputTable .MuiDataGrid-cell--editing {
    background-color: var(--rp-muted) !important;
    color: var(--rp-text) !important;
}

.cellSelector, .menuItem{
    color: var(--rp-text)! important;
    width: 100%;
    border: none !important;
    font-family: 'Jebrains', sans-serif !important;
    font-size: 1.5rem !important;
    align-items: center !important;
    text-align: center !important;
}

.cellSelector .MuiSelect-icon {
    display: none;
}

.cellSelector .MuiOutlinedInput-notchedOutline {
    border: none;
}

.cellSelector > div {
    padding: 0px !important
}

.menu{
    background-color: var(--rp-surface) !important;
    text-align: center !important;
    min-width: min-content !important;
}

.menuItem{
    background-color: var(--rp-surface) !important;
    text-align: center !important;
    width: min-content !important;
}

.menuItem:hover, .cellSelector:hover{
    background-color: var(--rp-overlay) !important;
}

@media screen and (max-width:500px) {
    .GridColumnHeader{
        font-size: 1rem;
    }
    .InputTable .MuiDataGrid-cell {
        font-size: 1rem;
    }
}